header{
    text-align: center;
}

main{
    display: flex;
    justify-content: space-between;
    
}

h1{
    color: rgb(0, 204, 255);
    font-size: 300%;
}

section{
    width: 25%;
    padding-left: 5%;
    padding-right: 5%;
    
}

ul{
    list-style-type: none;
}

button {
    background-color: transparent;
    color: #000000;
    border: 0.125rem solid #ee8f00;
    border-radius: 1.5rem;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ee8f00;
    color: white;
}

#perfilimg{
    width: 50%;
    border-radius: 50%;
}

#perfilsection{
    text-align: center;
}

.icons{
    width: 7%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    section{
        width: 75%;
        text-align: center;
    }
    footer {
        margin-top: 2rem;
        position: relative;
        width: 75%;
    }
    .icons{
        width: 10%;
    }
    #perfilimg{
        width: 75%;
        border-radius: 50%;
    }
}

